@{
    ViewData["Title"] = "Course Create";
}

    <h2>New Course</h2>
    <form method="post" asp-controller="Course" asp-action="Create">
        <div class="form-group">
            <label for="Title">Course Name</label>
            <input type="text" class="form-control" id="Title" name="Title">
        </div>
        <div class="form-group">
            <label for="ategory">Сategory</label>
            <input type="text" class="form-control" id="Сategory" name="Сategory">
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" class="form-control" id="Price" name="Price">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-secondary" value="Save" />
            </div>
        </div>
    </form>